ul.services{
	width: 800px;
	margin: 0px auto;
	padding: 0;
	list-style: none;
}

	ul.services li{
		width: 200px;
		float: left;
		transition: all 0.3s ease-in-out;
	}

	ul.services li:hover{
		color: #2980b9;
	}

		ul.services li i{
			display: block;
			text-align: center;
			font-size: 40px;
			margin-bottom: 20px;
			height: 60px;
			transition: all 0.3s ease-in-out;
			padding-top: 10px;
			box-sizing: border-box;
		}

		ul.services li:hover i{
			font-size: 80px;
			padding-top: 0px;
		}

		ul.services li span{
			display: block;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
		}

div.calendar{
	width: 300px;
	height: 280px;
	background-color: #fc6f53;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

	div.calendar .header{
		width: 100%;
		height: 100px;
	}

	div.calendar .header button{
		background-color: transparent;
		border: none;
		height: 100px;
		width: 54px;
		color: #fff;
		font-size: 40px;
		display: block;
		float: left;
	}

		div.calendar .header .date-number {
			display: block;
			width: 58px;
			float: left;
			height: 100px;
			box-sizing: border-box;
			font-size: 50px;
			font-weight: 300;
			padding-top: 15px;
			color: #b44331;
		}
		div.calendar .header .date-text {
			display: block;
			width: 134px;
			float: left;
			height: 100px;
			box-sizing: border-box;
			font-size: 10px;
			padding-top: 29px;
			padding-left: 5px;
		}

			div.calendar .header .date-day{
				color: #fff;
				display: block;
			}

			div.calendar .header .date-month-year{
				color: #fecdc6;
				display: block;
			}

	div.calendar div.dates{
		width: 85%;
		margin: 0 auto;
		text-align: center;
		line-height: 28px;
	}

		div.calendar div.dates ul.weekdays {
			width: 100%;
			list-style: none;
			color: #b44331;
			padding: 0px;
			margin: 0px;
		}

			div.calendar div.dates ul.weekdays li{
				float: left;
				width: calc(100% / 7);
			}

		div.calendar div.dates ul.month-dates {
			width: 100%;
			list-style: none;
			color: #fff;
			padding: 0px;
			margin: 0px;
		}

			div.calendar div.dates ul.month-dates li{
				float: left;
				width: calc(100% / 7);
			}

button.btn-delete {
	background-color: #ed5564;
	color: #fff;
	border-radius: 2px;
	border: none;
	padding: 5px 10px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}